body {
  font-family: "Sans Serif Plus 7", Helvetica;
  width: 100%;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 25px auto 0 auto;
  background-image: url("background.jpg");
  color: rgb(25, 25, 25);
}

/*h1 {
  font-family: "Lekton", Helvetica;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

}*/

#title{
  font-family: "Miglia", Helvetica;
  font-size: 250%;
  margin-top: 95px;
  margin-bottom: 70px;
  text-align: center;
}

#menu {
    text-align: center;
    margin: 25px;

}

#menu .link {

    margin: 0 100px;
    display: inline;
    cursor:pointer;
}

.content {
  opacity: 0;
}

.content.on {

    opacity: 1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;

    display: block;
    font-size: 21px;
    margin-top: 100px;
    text-align: center;
    line-height: 200%;
}
